<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyse predictive des crises Cardiaque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>

    <div class="container">
        <h2>Evaluation du risque Cardiaque</h2>

        <form method="POST">
            <input type="number" name="mv" placeholder="Nombre de vaisseaux majeurs" required>
            <input type="number" name="eia" placeholder="Angine induite (1=Oui, 0=Non)" required>
            <input type="number" name="thal" placeholder="Thalassémie" required>
            <input type="number" step="0.1" name="oldpeak" placeholder="Oldpeak (ST dépression)" required>
            <input type="number" name="sc" placeholder="Slope du segment ST" required>
            <input type="number" name="cpt" placeholder="Type de douleur thoracique" required>
            
            <button type="submit">Prédire</button>
        </form>

        {% if prediction %}
        <div class="result {% if 'pas malade' in prediction %} success {% else %} error {% endif %}">
            <strong>Résultat :</strong> {{ prediction }}
        </div>
        {% endif %}
    </div>

</body>
</html>
